
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" />
</head>
<body>
    @*Header*@
    <center>
       <div>
           <a class=" btn btn-primary" href="/Home/Index">Home</a>
            <a class=" btn btn-warning" href="/Home/Privacy">Privacy</a>

       </div>
    </center>
    @*Header*@

    @*Body*@
	<h1>Hello, World!</h1>
    @*Body*@
</body>
</html>
